<h1>Demande de réinitialisation de votre mot de passe de votre compte sur MangaBlog</h1>
<p>Bonjour{{ user.nickname }}</p>
<p>Pour réinitialiser votre mot de passe de votre compte sur MangaBlog cliquez sur le lien ci-dessous</p>
<p><a href=" {{ url|raw }} ">{{ url|raw }}</a></p>
<p>Merci</p>