<footer>
    <section>
        <a href="{{ path('app_main')}}">
            <img src="{{asset('assets/images/dragonball.png')}}" alt="Logo">
            MangaBlog
        </a>
    </section>
    <section>
        <a href="{{ path('app_mentions')}}">Mentions légales</a>
    </section>
</footer>