<nav class="navbar">
    <!-- path() pointe le nom des route dans le MainContro-->
    <a href="{{ path('app_main')}}">
        <img src="{{ asset('assets/images/dragonball.png')}}" alt="Logo"> MangaBlog 
    </a>
    <ul>
        <li>Accueil</li>
        <li>Articles</li>
        <li>Catégories</li>
        <li>Auteurs</li>
        <li>Contact</li>
        <li>Recherche</li>
    </ul>
</nav>
